@import url('https://fonts.googleapis.com/css?family=Oleo+Script');

header {
  align-items: center;
  justify-content: space-between;
  padding: 1px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FAFAFA;
  border-bottom: 3px solid #D3D3D3;
  display: flex;
}

h1 {
  font-family: 'Oleo Script', cursive;
}

.title {
  text-decoration: none;
}

.header-icon {
  background-color: transparent;
  border: none;
}

.settings-icon {
  float: left;
  background-image: url('images/settings-icon.svg');
  width: 30px;
  height: 29px;
}

.favorite-icon {
  float: right;
  background-image: url('images/favorite-icon.svg');
  width: 35px;
  height: 27px;
}

.settings-icon:active {
  outline: none;
  background-image: url('images/settings-icon-hover.svg');
}

.favorite-icon:active {
  outline: none;
  background-image: url('images/favorite-icon-hover.svg');
}

/*.counter {
  margin: 0;
  position: absolute;
  right: 44px;
  top: 21px;
  color: #fff;
}*/

.favorite-icon-count {
  float: right;
  background-image: url('images/favorite-icon-count.svg');
  width: 32px;
  height: 25px;
}
